<p>
    Afin de participer à la souscription d’un BSA AIR dit « BSA AIR 8 » émis par la société {{ data._Data__target_name }} par
    l’intermédiaire de la SEP, le souscripteur décide d’apporter à la SEP, en numéraire, la somme hors
    frais d’entrée de {{ data._Data__montant_investi  }} euros ({{ data._Data__montant_investi_letter }}) aux conditions précisées dans le Plan de
    Règlement.
<p>