<div style="text-align:center;">
    {% if data._Data__sas|string() == "True" %}
    <div style="font-weight:bold; font-size:16px;">SAS TECHMIND {{ name }}</div>
    <div>Société par actions simplifiée à capital variable</div>
    <div>au capital de 201 euros</div>
    <div>au capital maximum de 20.000.000 euros</div>
    <div>Siège social : C/O Techmind, 20 rue Paul Fort – 75014 Paris</div>
    <div>RCS Paris : 938 668 969</div>
    {% else %}
    <div style="font-weight:bold; font-size:16px;">SEP TECHMIND {{ name }}</div>
    <div>Société en Participation</div>
    <div>Gérant : Techmind</div>
    <div>Siège social du gérant : 20 rue Paul Fort – 75014 Paris</div>
    {% endif %}
</div>