<div style="text-align:center;">
    <div style="font-weight:bold; font-size:16px;">SEP TECHMIND {{ name }}</div>
    <div>Société en Participation</div>
    <div>Gérant : Techmind</div>
    <div>Siège social du gérant : 20 rue Paul Fort – 75014 Paris</div>
</div>