<p class="header-people">PERSONNE MORALE</p>
<div style="margin-top: 25px">
    <p>Raison sociale<span class="people-info">{{ data._Data__structure }}</span></p>
    <p>Forme sociale<span class="people-info">{{ data._Data__forme_social }}</span></p>
    <p>Numéro de RCS<span class="people-info">{{ data._Data__rcs }}</span></p>
    <p>Addresse de siège sociale<span class="people-info">{{ data._Data__siege_social_addr }}</span></p>
    <p>Code postal<span class="people-info">{{ data._Data__postal_code }}</span></p>
    <p>Ville<span class="people-info">{{ data._Data__city }}</span></p>
    <p>Email de contact<span class="people-info">{{ data._Data__legal_email }}</span></p>
</div>
<div style="margin-top: 40px"/>
<p class="header-people">REPRESENTANT LEGAL</p>
<div style="margin-top: 25px">
    <p>Prénom<span class="people-info">{{ data._Data__legal_firstname }}</span></p>
    <p>Nom<span class="people-info">{{ data._Data__legal_lastname }}</span></p>
    <p>Adresse e-mail<span class="people-info">{{ data._Data__legal_email }}</span></p>
</div>