<p class="header-people">PERSONNE PHYSIQUE</p>
    <div style="margin-top: 25px">
        <p>Prénom<span class="people-info">{{ data._Data__legal_firstname }}</span></p>
        <p>Nom<span class="people-info">{{ data._Data__legal_lastname }}</span></p>
        <p>Adresse e-mail<span class="people-info">{{ data._Data__legal_email }}</span></p>
        <p>Adresse Postal<span class="people-info">{{ data._Data__adresse }}</span></p>
    </div>