<style>
  @import url("https://use.typekit.net/npi2qss.css");

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: 8px;
  }

  body {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  h1 {
    font-size: 17px;
    text-align: center;
  }

  .souscripteur {
    list-style: '-     ';
    margin: 20px;
  }

  .italic {
    font-style: italic;
  }

  .header {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 50px;
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
    margin-top: 30px;
  }

  .iban {
    height: 180px;
    width: 20px;
  }

  .souscripteur-end {
    text-align: end;
    margin-right: 20px;
  }

  .header-people {
    background-color: #12103a;
    color: white;
  }

  .people-info {
    position: absolute;
    left: 0;
    padding-left: 30%;
  }

  .horizontal_line {
    width: 30%;
    border-top: 1px solid black;
  }
</style>